<!DOCTYPE html>
<!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
<html lang="en">
	<head>
		<title>insta485</title>
	</head>
    <body>

        <form action="/" method="POST">
            <p>{{query}}</p>
  <span><input type="text" name="q" value="{{query}}"/> <input type="submit" value="Search"/></span>
  <span><input type="range" name="w" min="0.0" max="1.0" step="0.01" value="{{weight}}"/></span>
        </form>

        {% for doc in docs %}
        <div>
            <a class="doc_url" href={{doc.url}}> 
                <div class="doc_title">{{doc.title}}</div>
            </a>
            <div class="doc_summary">{{doc.summary}}</div>
        </div>
        {% endfor %}


    </body>
</html>