<!DOCTYPE html>
<!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
<html lang="en">

<head>
    <title>insta485</title>
</head>

<body>

    {% if weight == None and query == None%}
    <form action="/" method="GET">
        <input type="range" name="w" min="0.00" max="1.00" step="0.01" id="weight-input" value="0.5"/>
        <input type="text" name="q" value="" /> <input type="submit" value="Search" />
    </form>
    {% elif weight == None and query != None %}
    <form action="/" method="GET">
        <input type="range" name="w" min="0.00" max="1.00" step="0.01" id="weight-input2" value="0.5"/>
        <input type="text" name="q" value="{{query}}" /> <input type="submit" value="Search" />
        <p>{{query}}</p>
    </form>
    {% elif query == None and weight != None %}
    <form action="/" method="GET">
        <input type="range" name="w" min="0.00" max="1.00" step="0.01" id="weight-input3" value="{{weight}}" />
        <input type="text" name="q" value="" /> <input type="submit" value="Search" />
    </form>
    {% else %}
    <form action="/" method="GET">
        <input type="range" name="w" min="0.00" max="1.00" step="0.01" id="weight-input4" value="{{weight}}" />
        <input type="text" name="q" value="{{query}}" /> <input type="submit" value="Search" />
        <p>{{query}}</p>
    </form>
    {% endif %}

    {% for doc in docs %}
    <div>
        {% if doc.hasURL == True %}
        <a class="doc_url" href="{{ doc.url|e }}">
            <p>{{doc.url}}</p>
        </a>
        {% else %}
        <a class="doc_url" href="{{ doc.url|e }}">
            <p>No url available</p>
        </a>
        {% endif %}

        <div class="doc_title">{{doc.title}}</div>
        <div class="doc_summary">{{doc.summary}}</div>

    </div>
    {% endfor %}

    {% if noRes == True %}
    <div class="no_results">No search results found!</div>
    {% endif %}


</body>

</html>